body {
    background-color: #182027;
}

.full{
    height: 100svh;
    display: block;
}

.outline {
    border: 1px solid red;
}

.header {
    height: 10%;
}

.center {
    height: 10%;
}

.mainSection {
    width: 100%;
    height: 75%;
}