body {
    background-color: #182027;
}

.full {
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.outline {
    border: 1px solid red;
}

.header {
    width: 100%;
    height: 40px;
}

.center {
    width: 100%;
    height: 100px;
}

.mainSection {
    width: 100%;
    height: 600px;
}