body {
    margin: 0;
    background-color: grey;
    height: 100svh;
}

header {
    height: 5%;
}

section {
    height: 95%;
}

.main{
    height: 100%;
    width: 100%;
}

.outline {
    border: 1px solid red;
}

ul {
    height: 50px;
}


.boton {
    padding: 10px;
}

.listas {
    display: flex;
    
}

.lista1 {
    height: 300px;
    width: 200px;
}

.lista2 {
    height: 300px;
    width: 200px;
}