.add-bar-container{
    width: 35%;
    height: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    width: 50%;
    height: 100%;
}

.modal {
    background-color: #676077;
    border-radius: 15px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);

    width: 35%;
    height: 90%;
    display: grid;
    place-items: center;
}

.todo-element {
background-color: #edd48e;

    width: 90%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.done-button {
    background-color: green;

    border-radius: 50px;

    margin: 5px;
    width: 30px;
    height: 30px;
}


.delete-button {

    background-color: red;

    border-radius: 50px;

    margin: 5px;
    width: 30px;
    height: 30px;
}
